/* CSS BY KEVIN REYNOLDS @ BADAS DESIGNS(badasdesign.com)*/
/***** COLORS ****/
/*
#1B3F1D  -Dark Green

#1B75BB  -Light blue

#F2ED91  -Yellow

#084772  -Blue

0e5f8c -zebra blue
*/
/********** General Styles **********/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	text-transform: none;
	font-variant: normal;
	font-family: Helvetica, Arial, sans-serif;
	list-style-type:none;
}

html{
	background-color: #1B75BB;
	height: 100%;
}

body {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0;

}

#container {
	width: 800px;
	margin: 1px auto 0;
	color: #fff;
	min-height: 650px;
}

#msg-container {
	width: 800px;
	margin: 5px auto 0;
	color: #fff;
	min-height: 670px;

}


#container 2table th {
	color:#000;
}

#contianer h2 {
color:#000;
}

/********** Header Styles **********/
#header {
	width: 800px;
	height: 100px;
	margin-bottom: 5px;
	
	
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */

    
	
}

#header h1 {
	font-size: 5.5em;
}


/********** Nav Styles **********/
#nav {
	width: 800px;
	height: 20px;
	margin-bottom: 10px;
}

#nav li {
	float:left;
	margin-left: 10px;
	background-color:#1B75BB;
	padding: 2px;
	
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	border: 1px solid #fff;

	
}

.nav-msgbrd-fix  {
	float:right !important;	
	margin-right: 10px;
}

/*--------- NavPsudeo ---------*/

#nav a:link{
	padding:3px;
	color:#fff;
	
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 1%, rgba(3,3,3,0.2) 99%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(1%,rgba(255,255,255,0.1)), color-stop(99%,rgba(3,3,3,0.2)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(3,3,3,0.2) 99%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(3,3,3,0.2) 99%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(3,3,3,0.2) 99%,rgba(0,0,0,0.1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(3,3,3,0.2) 99%,rgba(0,0,0,0.1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */

}

#nav a:visited{
	color:#fff;
}

#nav a:hover{
	padding: 3px;
	text-decoration: underline;
	
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 1%, rgba(255,255,255,0.2) 99%, rgba(255,255,255,0.1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(1%,rgba(0,0,0,0.1)), color-stop(99%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(255,255,255,0.2) 99%,rgba(255,255,255,0.1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(255,255,255,0.2) 99%,rgba(255,255,255,0.1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(255,255,255,0.2) 99%,rgba(255,255,255,0.1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(255,255,255,0.2) 99%,rgba(255,255,255,0.1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#1affffff',GradientType=0 ); /* IE6-9 */
}

#nav a:link{
	color:#fff;
}

#nav a.active {
	font-weight: bold;
	text-decoration: underline;
	
background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 1%, rgba(255,255,255,0.2) 99%, rgba(255,255,255,0.1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(1%,rgba(0,0,0,0.1)), color-stop(99%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(255,255,255,0.2) 99%,rgba(255,255,255,0.1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(255,255,255,0.2) 99%,rgba(255,255,255,0.1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(255,255,255,0.2) 99%,rgba(255,255,255,0.1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(255,255,255,0.2) 99%,rgba(255,255,255,0.1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#1affffff',GradientType=0 ); /* IE6-9 */
}

/********** Content Styles **********/
#content {
	width: 800px;
	min-height: 540px;
	padding-top:20px;
	border: 1px solid #fff;
	
background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(125,125,125,0.08) 49%, rgba(255,255,255,0.06) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(49%,rgba(125,125,125,0.08)), color-stop(100%,rgba(255,255,255,0.06))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(125,125,125,0.08) 49%,rgba(255,255,255,0.06) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(125,125,125,0.08) 49%,rgba(255,255,255,0.06) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(125,125,125,0.08) 49%,rgba(255,255,255,0.06) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(125,125,125,0.08) 49%,rgba(255,255,255,0.06) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#0fffffff',GradientType=0 ); /* IE6-9 */
}

/*--------- SpecContent ---------*/
#spec-content {
	width: 700px;
	height: 300px;
	border: 1px solid #fff;
	margin: 0 auto;
}


#spec-content img {
	display: inline;
}




/*--------- News ---------*/
#news-container {
	background-color:#1B75BB;
	width: 387px;
	height: 200px;
	margin: 10px 0 0 50px;
	border: 1px solid #fff;
	float:left;
}

#news {
	
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 1%, rgba(3,3,3,0.2) 99%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(1%,rgba(255,255,255,0.1)), color-stop(99%,rgba(3,3,3,0.2)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(3,3,3,0.2) 99%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(3,3,3,0.2) 99%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(3,3,3,0.2) 99%,rgba(0,0,0,0.1) 100%); /* IE10+ */
background: linear-gradient(-45deg,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) 1%,rgba(3,3,3,0.2) 99%,rgba(0,0,0,0.1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1a000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#news h1 {
	font-size: 1.5em;
	border-bottom: 1px solid #fff;
	font-weight: bold;
	padding-left: 10px;
	text-shadow: 1px 1px 1px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=2);
}


#news li {
	font-size: 0.9em;
	padding-left:5px;
}


.even {
 background-color:#0e5f8c;
}

/*--------- newsPsudeo ---------*/
#news li:link{

}

#news li:visited{

}

#news li:hover{
	background-color:#084772;
}

#news li:link{

}

/*/ anchors /*/
#news a:link{
	color:#fff;
}

#news a:visited{
	color:#fff;
}

#news a:hover{
	color:#fff;
}

#news a:link{
	color:#fff;
}


/*--------- calendar ---------*/
#calendar {
	float:left;
	width: 300px;
	height: 200px;
	margin: 10px 0 0 10px;
	color:#fff;
}

/*************** Footer Styles *****************/
#footer {
	height: 21px;
	width: 800px;
	margin: 0 auto;
	position: relative;
}

#footer a {
	font-size:0.7em;
	color:#fff;	
	position: absolute;
	bottom: 0;	
	left: 30px;
}

#footer img.footer {
	position: absolute;
	bottom: 0;
	left: 0;
}


/*/ Footer Psudeo /*/
#footer a:link {
	color:#fff;
	
}

#footer a:visited  {
	color:#fff;
}

#footer a:hover {
	color: #fff;
	text-decoration: underline;
}

#footer a:active {
	color: #fff;
}


/************** Rules Page *********************/
#rules {
	background-color: #666;
	border: 1px solid #999;
	width: 750px;
	margin: 0 auto;
	line-height: 120%;
	letter-spacing: 0;
	overflow:auto;
	height: 530px;
}

#rules h1 {
	font-size: 1.6em;
	margin: 10px 0 0 5px;
	padding-bottom: 10px;
	text-decoration: underline;
}

#rules h2 {
	font-size: 1.4em;
	text-decoration: underline;
	margin: 15px 0 0 5px;
}

#rules h3 {
	color: #fff;
	font-size: 1.2em;
	text-decoration: underline;
	margin: 15px 0 0 5px;
}

#rules p {
	font-size: 1.0em;
	margin: 15px 0 0 20px;
	width: 80%;
}

#rules ol li {
	font-size: 1.0em;
	margin: 5px 0 0 30px;
	width: 80%;
	color:#fff;
	list-style-type: disc;
}

#rules strong {
	font-size: 1.0em;
	margin: 15px 0 0 20px;
	font-weight: bold;
	width: 80%;
	display: block;
	text-decoration: underline;
}

#rules-list1, #rules-list2, #rules-list3 {
	height: 125px;
	width: 100px;
	float:left;
	margin-left:50px;
}

#rules-list li {
	float:left;
	height: 20px;
	width:	150px;
}


#rules-autoscroller ol li{
	list-style: none;
	display:inline;
}

#rules-autoscroller a{
	background-color: #999;
    right:0;
    height: 100px;
    position:fixed;
    top:150px;
    width:40px;
	writing-mode: tb-rl ;
	
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	
}


/*/ Rules Psudeo/*/

#rules a:link {
	color:#fff;
	text-decoration: underline;
}

#rules a:visited {
	color:#fff;
}

#rules a:hover {
	color:#999;
	text-decoration: none;
}

#rules a:active {
	color:#fff;
}




/*Tables on Stats pages */

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 620px;
	text-align: left;
	color:#000;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #000;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

#pager.pager {
	border: 1px solid #000;
	background-color:#666;
	color:#000;
	position:absolute;
	right: 0;
	top:0;
	margin: 10px 42px 0 0;
}

#pager input {
	color:#000;
}

#pager select {
	color:#000;
}


/*************** MSG BOARD **************/

.spacer{
clear:both; 
height:1px;
}

/* ----------- My Form ----------- */
.myform{
	width:360px;
	padding: 10px;
	margin: 10px 0 0 12px;
	color:#000;
	height: 490px;
}

/* ----------- stylized ----------- */
#stylized{
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
	float: left;
	color:#000;
}

#stylized h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}

#stylized p{
	font-size:11px;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}

#stylized label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
}

#stylized .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}

#stylized input, #stylized textarea{
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:200px;
	margin:2px 0 20px 10px;
}

#cap {
	float:left;
	padding:4px 2px;
	margin:2px 0 20px 10px;
	border: 0;
}

#stylized a img{
	border: 0;
}

#stylized button{
	clear:both;
	margin-left:100px;
	width:91px;
	height:32px;
	background:#666666 url(../images/submit.png) no-repeat;
	text-align:center;
	line-height:32px;
	color: transparent;
	text-transform: capitalize;
}

.error {
	font-weight: bold;
	color:red;
}

.success {
	font-weight: bold;
	color:green;
}

#messages {
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
	width:350px;
	padding:5px;
	margin: 10px 0 0 10px;
}

#messages h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:12px;
}

#messages cite {
	font-weight: bold;
	text-decoration: none;
}

#messages ol{
	margin: 0;
	padding: 0 0 20px 0;
	list-style-type: none;
}

#messages li{
    display: block;
	margin-bottom: 6px;
	padding: 7px;
	background-color: #bbb;
	color:#000;
}

#messages li p{
	margin-top: 10px;
}

.button-link a {
	border-style: solid;
	border: 0;
	text-decoration : none;
	padding : 5px 14px;
	background-color: #F1630E;
	color: #FFFFFF;
	font-weight: bold;
}
.button-link a:hover {
	background-color: #C85304;
}

.button:hover {
	border:1px solid #fff;
}

/************** AWARDS ***************/
#awards-content {
	width: 800px;
	min-height: 540px;
	padding-top:20px;
}

#awards-content li {
	float:left;
	border: 1px solid #fff;
	width: 200px;
	background-color: #ddd;
	height: 200px;
}


/* SLIDER */


			
    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
			
	#content{
		position:relative;
		}			

/* Easy Slider */

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width: 700px;
		height: 300px;
		overflow:hidden; 
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		left:-30px;
		top:71px;
		z-index:1000;
		}	
	#nextBtn, #slider1next{ 
		left:696px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:30px;
		height:77px;
		background:url(images/btn_prev.gif) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(images/btn_next.gif) no-repeat 0 0;	
		}	
		
	/* numeric controls */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;
		margin-top: -30px;	
		}
	ol#controls li{
		margin:0px 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Easy Slider */