@charset "utf-8";
/* CSS Document 
form design credited to http://woork.blogspot.com/2008/06/clean-and-pure-css-form-design.html
*/

body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
margin:35px 20px;
width:400px;
padding:14px;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
float: left;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input, #stylized textarea{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#cap {
float:left;
padding:4px 2px;
margin:2px 0 20px 10px;
border: 0;
}
#stylized a img{
border: 0;
}
#stylized button{
clear:both;
margin-left:150px;
width:91px;
height:32px;
background:#666666 url(images/submit.png) no-repeat;
text-align:center;
line-height:32px;
color: transparent;
text-transform: capitalize;
}

.error {
	font-weight: bold;
	color:red;
}

.success {
	font-weight: bold;
	color:green;
}

#messages {
border:solid 2px #b7ddf2;
background:#ebf4fb;
width:500px;
padding:14px;
margin:35px 20px;
}

#messages h1 {
font-size:14px;
font-weight:bold;
margin-bottom:12px;
}

#messages cite {
	font-weight: bold;
	text-decoration: none;
}

#messages ol{
	margin: 0;
	padding: 0 0 20px 0;
	list-style-type: none;
}

#messages li{
    display: block;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #ffffff;
}

#messages li p{
	margin-top: 10px;
}

.button-link a {
	border-style: solid;
	border: 0;
	text-decoration : none;
	padding : 5px 14px;
	background-color: #F1630E;
	color: #FFFFFF;
	font-weight: bold;
}
.button-link a:hover {
	background-color: #C85304;
}